
.icon-cocktail:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-plane:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-boat:before { content: '\e804'; } /* '' */
.icon-traffic:before { content: '\e805'; } /* '' */
.icon-open:before { content: '\e807'; } /* '' */
.icon-fest:before { content: '\e810'; } /* '' */
.icon-throw:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-silent:before { content: '\e806'; } /* '' */